@{
    ViewBag.Title = "Full Width Page";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Additional
                <small>Information</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Forms of Street Art</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>The origins of <b>street art</b> dates back to the 60s of the last century. Originally known only in the United States, effectively distributed, it has become well-known in the 80s in Europe. Street art is a form of visual art created in public spaces, initially known mainly as graffiti. It is worth mentioning that street art is also all kinds of murals, vlepki, posters and installations.</p>
            <p>This art has the task of specific incarnation in the surrounding area, on the other hand, should attract attention and entail appropriate message of the artist, which it usually is anonymous and only its creativity is able to speak to his audience. The recipients of that art are all people who are in a given space, regardless of whether they are aware of it or not. Often, street art is sadly mistaken associated with vandalism, because art is often created illegally and artists working in secret.</p>
            <p>Examples of world-renowned artists are street art Banksy, Richard "Richie" Miranda, Jeff Brown, Shepard Fairey, Donald Joseph White. Particularly noteworthy is the so-called 3D Street Painting. 3D Street Painting is a three-dimensional trompe l'oeil painting. Although that is created on the street or the floor, it gives the impression of an extraordinary reality, rise above the plane or the illusion of an endless abyss, all this making good use of the principles of perspective. Only perfectly defined deformation of the image, will create the illusion of real objects and space. With a remarkable performance, 3D Street Painting becomes the world's growing in popularity. In Poland, the art is still relatively little known, although a group of supporters is gradually increasing. Not surprisingly, as it is surprising, inspiring awe and curiosity. Undoubted plus paintings in this technique is the possibility of interaction that occurs between the image and the man who becomes an integral part of it. Then, it depends on the creativity of how the change of the connecting composition.</p>
            <p>The following pictures show examples of different forms of street art. <b>Graffiti</b> is one of the most popular manifestations of street art. The following picture shows the alley city almost entirely covered by paintings:</p>
            <center><img src="~/images/art7.png" class="img-responsive" /><i>Graffiti, autor Chris Mitchell</i></center>
            <hr />
            <p>Another form of street art is a painting of a template, the so-called <b>template</b>. Because of its usual small size and at the same time the simplicity of execution (making the wall) template is a very common element of urban spaces.</p>
            <center><img src="~/images/art8.jpg" class="img-responsive" /><i>Template, Lisbon, probably Banksy, photography: Margaret Trojanowska</i></center>
            <hr />
            <p>A very popular form of street art are also self-adhesive pictures so-called <b>vlepki.</b></p>
            <center><img src="~/images/art9.jpg" class="img-responsive" /><i>Vlepka, the center of Krakow, photography: Margaret Trojanowska</i></center>
            <hr />
            <p><b>Mural</b> is another form of street art, a mural covering a large part of the outside of the building, or even the whole of it. Due to the fact that it is very labor intensive and time-consuming work, the developers are rarely anonymous.</p>
            <center><img src="~/images/art1.jpg" class="img-responsive" /><i>Mural, CoupleKissing in Times Square on V-J Day by Eduardo Kobra</i></center>
            <hr />
            <p>Very interesting manifestation of street art is a <b>3D Street Painting.</b></p>
            <center><img src="~/images/art10.jpg" class="img-responsive" /><i>Photo taken from disemvowel.wordpress.com</i></center>
            <hr />
            <p>The message of street art can have political overtones, social as well as educational. Very many artists expressed through street art his vision of art and beauty and the ability to satisfy the aesthetic and visual deficiency of a large group of customers who are very appreciate the positive impact of street art in all kinds, often depressing, public spaces.</p>
            <p>Street art in a sense has become, at least in some parts of the world, an indispensable element of the urban environment. It is not only in the streets but also in parks, subway and other spaces not only the urban public. Some people think of street art is a way of life, sometimes even a way of life. It attributed also to the term colloquially speaking loose and stress, distanced approach to the everyday world, both to the subjects as weighty and specific fun ways of spending free time. Various subcultures derive from street art and its ubiquity somehow been absorbed naturally by the fashion world. Increasingly, we hear that it is street art has become an Services and a genuine Services to create fashion. Not only by niche designers but also the world-famous. In a sense, street art became simply fashionable, what is more, has a chance to be fashionable forever, because naturally changes over time.</p>
            <hr />
            <h2>Examples of fashion-inspired street art</h2>
            <p>As previously mentioned street art was and is an Services to the world of fashion. Some designers draw with street art and actually co-create it for other street art became the Services for the creation of only one of his collection. Such a form of art were interested not only in niche designers but also you world famous. Below are some examples of fashion inspired by street art.</p>
            <p>Artistic patterns on leggings inspired by Keith Haring.</p>
            <center><img src="~/images/art11.png" class="img-responsive" /><i>Photo taken from internet.</i></center>
            <hr />
            <p>Another example is the collection of Manish Arora with 2012, which is entirely inspired by street art. The work of the designer is usually very close colorful patterns and ornaments nonetheless street art was intriguing enough to light the idea of creation of the following collection.</p>
            <center><img src="~/images/art12.jpg" class="img-responsive" /><i>Photo taken from internet.</i></center>
            <p></p>
            <center><img src="~/images/art13.jpg" class="img-responsive" /><i>Photo taken from internet.</i></center>
            <hr />
            <p><b>Street art</b> is for me one of the most interesting forms of contemporary art. It speaks to me of its direct and unique message. Receiving street art as an expression of uncompromising expressing their own thoughts or visions of the world, society and himself. Street art brings with it a number of sensational visual experience truly, from the unusually colorful and artistic forms of the almost raw character. The combination of these contrasting creations became inspired to create my diploma collection and more precisely to prepare their own designs prints and riders that have been printed on the materials. The colorful world of street art rooted firmly on my sense of aesthetics and combined with strict shapes and do not always exemplary showing actually contributed to the search for less obvious shades of materials. Art Street were also inspired to outline the forms and styles of individual projects, dominates style everyday, not convenient crepe silhouette.</p>
            <center><p><i>Joanna Iskra</i></p></center>
        </div>
    </div>
</div>